@font-face {
    font-family: OpenSansBold; /* ָל רנטפעא */
    src: url(fonts/OpenSans-Bold.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: SegouUIBold; /* ָל רנטפעא */
    src: url(fonts/segoe-ui-bold.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: OpenSansSemi; /* ָל רנטפעא */
    src: url(fonts/OpenSans-Semibold.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
   