@font-face {
    font-family: OpenSansBold; /* ָלÿ רנטפעא */
    src: url(fonts/OpenSans-Bold.ttf); /* ֿףעü ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: SegouUIBold; /* ָלÿ רנטפעא */
    src: url(fonts/segoe-ui-bold.ttf); /* ֿףעü ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: OpenSansSemi; /* ָלÿ רנטפעא */
    src: url(fonts/OpenSans-Semibold.ttf); /* ֿףעü ך פאיכף סמ רנטפעמל */
}
   