{% extends "index.twig" %}

{% block title %}
    Список документів
{% endblock %}
{% block content %}

    <div class="tab-content">
        <div id="menu4">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a href="{{path('clerk.doc.new.visitors')}}" class="btn btn-success">ДОДАТИ</a>
                    </div>
                    <div class="col-md-10">
                        <h3>Прийом відвідувачів</h3>
                    </div>
                </div>
            </div>

            <table id="visitors" class="display table hover" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Примітки</th>
                        <th>Дата створення</th>
                        <th>Дата контролю</th>
                        <th>Короткий зміст</th>
                        <th>Зведена інформація</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Номер</th>
                        <th>Примітки</th>
                        <th>Дата створення</th>
                        <th>Дата контролю</th>
                        <th>Короткий зміст</th>
                        <th>Зведена інформація</th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>



    <script>
        $(document).ready(function () {
            $('#visitors').DataTable({
                "language": uk_trans,
                "processing": true,
                "serverSide": true,
                "ajax": "{{path('ajax.document.getlisttyped',{'type':'visitors'})}}",
                "columns": [
                    {"data": "num"},
                    {"data": "notes"},
                    {"data": "date_in"},
                    {"data": "date_control"},
                    {"data": "summary"},
                    {"data": "comment"},
                    {"data": "view"},
                    {"data": "arch"}
                ],
                "fnRowCallback": function (nRow, aData) {
                    if (aData['timetolife'] < 0) {
                        $('td', nRow).css({"background-color": "#FF978C"});
                    } else

                    if (aData['timetolife'] > 0 &&
                            aData['timetolife'] <= 2) {
                        $('td', nRow).css({"background-color": "#FFDCCB"});
                    } else

                    if (aData['timetolife'] > 2 &&
                            aData['timetolife'] <= 5) {
                        $('td', nRow).css({"background-color": "#FFE9CB"});
                    } else

                    {
                        //$('td', nRow).addClass("success");
                        $('td', nRow).css({"background-color": "#DFFFE5"});
                    }
                    if (aData['donestatus'] == 'm' || aData['donestatus'] == 'p' || aData['donestatus'] == 'r') {
                        $('td', nRow).css({"background-color": "#889688"});
                        $('td', nRow).css({"color": "#ffffff"});
                    }

                }
            });
        });
    </script>


{% endblock %}
