{% extends "index.twig" %}

{% block title %}
    Додати документ
{% endblock %}
{% block content %}



    <h1>Система реєстрації та контролю документів</h1>
    
 <ul class="list-group">
  <li class="list-group-item">Розпорядчі документи</li>
  <li class="list-group-item">Листи від організацій</li>
  <li class="list-group-item">Звернення громадян</li>
  <li class="list-group-item">Прийом громадян</li>
</ul> 


    {% endblock %}
