{% extends "index.twig" %}

{% block title %}
    Додати документ
{% endblock %}
{% block content %}


    <form class="form-horizontal" action="{{path('clerk.doc.push.collect')}}" method="post">
        <fieldset>

            <!-- Form Name -->
            <legend>Колективне звернення громадян</legend>
            <input id="doctype" name="doctype" type="hidden" value="people">
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="internal_number">Номер документу</label>
                <div class="col-md-4">
                    <div class="input-group">

                        <span class="input-group-addon" id="prefix_1_span">
                            КЗ
                        </span>
                        <input id="internal_number" name="internal_number" placeholder="Робочий номер" class="form-control input-md" required="" type="text" readonly="readonly" value="{{new_num}}">
                    </div>
                    <input id="num_prefix_1" name="num_prefix_1" type="hidden" value="КЗ" >
                    <span class="help-block">Внутрішній номер документу</span>
                </div>
            </div>

            <!-- Prepended checkbox -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="notes">Вихідні номери інших організацій</label>
                <div class="col-md-4 controls panel panel-default">


                    <div class="entry input-group panel-body">
                        <input class="form-control" name="externalnums[]" type="text" placeholder="Вихідний номер" value="" />
                        <input class="form-control" name="externalorgs[]" type="text" placeholder="Назва організації" value="" />
                        <input class="form-control datepicker" name="externaldates[]" type="text" placeholder="Дата" value="" />
                        <span class="input-group-btn">     
                            <button class="btn btn-success btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>

                </div>

            </div>



            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="date_in">Дата стоврення</label>
                <div class="col-md-4">
                    <input id="date_in" name="date_in" placeholder="00.00.2000" class="form-control input-md datepicker" required="" type="text">
                    <span class="help-block">Дата отримання, або сторення</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="date_control">Дата контролю</label>
                <div class="col-md-4">
                    <input id="date_control" name="date_control" placeholder="00.00.2000" class="form-control input-md datepicker" required="" type="text">
                    <span class="help-block">Дата контролю виконання</span>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="topicstarter">Виберіть громадянина (громадян)</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="topicstarter" id="topicstarter" value="" />
                    <span class="help-block">Виберіть громадянина або громадян, що є контактними особами у зверненні</span>
                </div>

            </div>



            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="addman">Або додайте нового</label>
                <div class="col-md-4">
                    <button type="button" id="addman" name="addman" class="btn btn-inverse"  data-toggle="modal" data-target="#myModal">Новий громадянин</button>
                </div>
            </div>


            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="othersts">Опис інших заявників</label>
                <div class="col-md-4">                     
                    <textarea class="form-control" id="othersts" name="othersts"></textarea>
                    <span class="help-block">Опишіть інших громадян, що звертаються</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="doccreator">Документ створив</label>
                <div class="col-md-4">
                    <input id="doccreator" name="doccreator" placeholder="" class="form-control input-md" required="" type="text" value="{{username}}" readOnly="readOnly">
                    <span class="help-block">Співробітник, що обробив картку</span>
                </div>
            </div>


            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="summary">Зміст документу</label>
                <div class="col-md-4">                     
                    <textarea class="form-control" id="summary" name="summary"></textarea>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="comment">Комментар</label>
                <div class="col-md-4">                     
                    <textarea class="form-control" id="comment" name="comment"></textarea>
                </div>
            </div>

            <!-- Button (Double) -->
            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submitok">Завершити</label>
                <div class="col-md-8">
                    <button id="submitok" type="submit" name="submitok" class="btn btn-success">Зберегти</button>
                    <button id="formreset" type="reset" name="formreset" class="btn btn-danger">Очистити</button>
                </div>
            </div>

        </fieldset>
    </form>
    <script type="text/javascript">
        $(document).ready(function () {

            var engine = new Bloodhound({
                remote: {
                    url: "/default.php/ajax/people/shortsearchpeople?query=%QUERY",
                    filter: function (response) {
                        console.log(response);
                        return response;

                    }
                },
                datumTokenizer: function (d) {
                    return Bloodhound.tokenizers.whitespace(d.label);
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace
            });
            engine.initialize();
            $('#topicstarter')
                    .on('tokenfield:createtoken', function (e) {
                        var existingTokens = $(this).tokenfield('getTokens');
                        if (existingTokens.length) {
                            $.each(existingTokens, function (index, token) {
                                console.log(token)
                                if (token.value === e.attrs.value) {
                                    e.preventDefault();
                                } else {
                                    console.log(e.attrs.value)
                                }
                            });
                        } else {
                            console.log(e.attrs.value)
                        }
                    }
                    )
                    .on('tokenfield:createdtoken', function (e) {
                        //$("#prefix_1_span").html($('#topicstarter').tokenfield('getTokens')[0].label[0]);
                        //$("#num_prefix_1").val($('#topicstarter').tokenfield('getTokens')[0].label[0]);
                    })
                    .on('tokenfield:removedtoken', function (e) {
                        alert('Видалено особу: ' + e.attrs.label);
                        //$("#prefix_1_span").html($('#topicstarter').tokenfield('getTokens')[0].label[0]);
                        //$("#num_prefix_1").val($('#topicstarter').tokenfield('getTokens')[0].label[0]);
                    })
                    .tokenfield({
                        showAutocompleteOnFocus: true,
                        delay: 100,
                        typeahead: [
                            {
                                hint: false
                            },
                            {
                                name: 'topicstarter',
                                displayKey: 'label',
                                source: engine.ttAdapter()
                            }
                        ]

                    });
            $('#topicstarter').tokenfield('setTokens', []);
        });





        //=====================================================
        /*
         $(document).ready(function () {
         //==================== povs
         var engine3 = new Bloodhound({
         local:[],
         datumTokenizer: function (d) {
         return Bloodhound.tokenizers.whitespace(d.label);
         },
         queryTokenizer: Bloodhound.tokenizers.whitespace
         });
         engine3.initialize();
         $('#tokenfield-people1').tokenfield({
         typeahead: [null, {
         display: 'label',
         source: engine3.ttAdapter()
         }]
         });
         $('#tokenfield-people1').tokenfield('setTokens', []);
         */

    </script>
    {% include 'popup.newpeople.twig' %}

{% endblock %}
