
<ul class="nav nav-sidebar">
    <li><a class="active" href="{{url('admin.starter')}}">ГОЛОВНА</a></li>
    <li><a href="{{url('admin.catalog.starter')}}">КАТАЛОГ</a></li>
    <li><a href="{{url('admin.ebook.add')}}">ДОДАТИ</a></li>
    <li><a href="http://college.ks.ua">САЙТ КОЛЕДЖУ</a></li>
</ul>